BasedOnStyle: Google
BreakConstructorInitializers: AfterColon
SpaceAfterCS: true
SpaceBeforeCS: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignConsecutiveBitFields: true
AlignEscapedNewlines: Left
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
SpacesInAngles: false
SpacesInContainerLiterals: true
SpacesInCSmallerThanSpaces: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: true
